// -*- mode: jsonc -*-
[
    {
        "layer": "top", // Waybar at top layer
        "position": "top", // Waybar position (top|bottom|left|right)
	{{- if eq .chezmoi.hostname "diegoLaptop" }}
	"output": "eDP-1",
	{{- else }}
        "output": "HDMI-A-1",
	{{- end }}
        "height": 25, // Waybar height (to be removed for auto height)
        "spacing": 4, // Gaps between modules (4px)
        // Choose the order of the modules
        "modules-left": [],
        "modules-center": [
            "hyprland/window"
        ],
        "modules-right": [
            "pulseaudio",
            "clock"
        ],
        "pulseaudio": {
            // "scroll-step": 1, // %, can be a float
            "format": "{volume}% {icon} {format_source}",
            "format-bluetooth": "{volume}% {icon} {format_source}",
            "format-bluetooth-muted": " {icon} {format_source}",
            "format-muted": " {format_source}",
            "format-source": "{volume}% ",
            "format-source-muted": "",
            "format-icons": {
                "headphone": "",
                "hands-free": "",
                "headset": "",
                "phone": "",
                "portable": "",
                "car": "",
                "default": [
                    "",
                    "",
                    ""
                ]
            },
            "on-click": "pavucontrol"
        },
        "clock": {
            "timezone": "America/Santiago",
            "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
            "format-alt": "{:%Y-%m-%d}"
        }
    },
    {
        "layer": "top",
        "position": "bottom",
	{{- if eq .chezmoi.hostname "diegoLaptop" }}
	"output": "eDP-1",
	{{- else }}
        "output": "HDMI-A-1",
	{{- end }}
        "modules-left": [
            "hyprland/workspaces"
        ],
        "height": 25, // Waybar height (to be removed for auto height)
        "spacing": 4, // Gaps between modules (4px)
        "modules-right": [
            "network",
            "cpu",
            "memory",
            "temperature",
            "tray"
        ],
        "network": {
            // "interface": "wlp2*", // (Optional) To force the use of this interface
            "format-wifi": "{essid} ({signalStrength}%) ",
            "format-ethernet": "{ipaddr}/{cidr} ",
            "tooltip-format": "{ifname} via {gwaddr} ",
            "format-linked": "{ifname} (No IP) ",
            "format-disconnected": "Disconnected ⚠",
            "format-alt": "{ifname}: {ipaddr}/{cidr}"
        },
        "cpu": {
            "format": "{usage}% ",
            "tooltip": false
        },
        "memory": {
            "format": "{}% "
        },
        "temperature": {
            // "thermal-zone": 2,
            // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
            "critical-threshold": 80,
            // "format-critical": "{temperatureC}°C {icon}",
            "format": "{temperatureC}°C {icon}",
            "format-icons": [
                "",
                "",
                ""
            ]
        }
    },
    {
        "custom/media": {
            "format": "{icon} {}",
            "return-type": "json",
            "max-length": 40,
            "format-icons": {
                "spotify": "",
                "default": "🎜"
            },
            "escape": true,
            "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null" // Script in resources folder
            // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
        }
    },
    {
        "layer": "top",
        "position": "bottom",
	{{- if eq .chezmoi.hostname "diegoLaptop" }}
	"output": "HDMI-A-1",
	{{- else }}
        "output": "eDP-1",
	{{- end }}
        "height": 25,
        "spacing": 4,
        "modules-left": [
            "hyprland/workspaces"
        ],
        "modules-center": [
            "custom/playerctl"
        ],
        "custom/playerctl": {
            "exec": "playerctl metadata --format '{{ artist }} - {{ title }}'",
            "interval": 2,
            "format": "🎜 {}"
        }
    }
]